:root {
  --corPrimaria-color: #18bc9c;
  --corSecundaria-color: #2c3e50;
  --corTerciaria-color: #white;
  --corWhiteBlack-color: #white;
  --textWhiteBlack-color: rgb(0, 0, 0);
}

.dark-mode:root {
  --corPrimaria-color: rgb(38, 39, 35);
  --corSecundaria-color: rgb(25, 26, 22);
  --corTerciaria-color: rgb(46, 48, 42);
  --corWhiteBlack-color: rgb(59, 59, 56);
  --textWhiteBlack-color: rgb(255, 255, 255);
}

.foto-perfil {
  height: 20%;
  width: 20%;
  max-width: 100%;
  border-radius: 50%;
}
.corPrimaria {
  background-color: var(--corPrimaria-color);
}
.corSecundaria {
  background-color:var(--corSecundaria-color);
}
.corTerciaria {
  background-color: var(--corTerciaria-color);
}
.corWhiteBlack {
  background-color: var(--corWhiteBlack-color);
}
.textWhiteBlack {
  color: var(--textWhiteBlack-color);
}
p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black;
}
.icones {
  padding-left: 5px;
}

.titulosBrancos {
  text-decoration: underline;
  text-underline-position: below;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

.titulosVerdes {
  text-decoration: underline;
  text-underline-position: below;
  padding-bottom: 20px;
  font-weight: 700;
  color: #18bc9c;
}

.textoBranco {
  color: white !important;
}
.jumbotron {
  margin-bottom: 0px;
}

.textoFooter {
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}
html {
  scroll-behavior: smooth;
}
.bottonSeeProject {
  margin-right: 10px;
}

.nav-item-dark-mode {
  margin-left: 20px;
}
#switch:hover {
  cursor: pointer;
}

.checkbox_pointer {
  cursor: pointer;
}
